Hi friend, we are working on getting together a reasonable dataset. We are adding all the weather, as the first most important problem. So, I am going to get the data with money

Start with libraries and initial csv

In [52]:
#libraries
import pandas as pd
import numpy as np

In [87]:
#basically the universal variables

api_key = 'WTCKQMFXBWJSST6TGTZCVZF5Y' #spencerhamilton60@gmail.com
api_key = 'HR23S3BURZPNU7DBHQA9GAYZY' #rhamilt4@byu.edu
api_key = '3N2JVBHZHRS8SS4WVVA2DN7LW' #fake email 1
api_key = 'JAQ9AZB224ATD3UZ9YLR58USU' #fake email 2

my_keys = ['WTCKQMFXBWJSST6TGTZCVZF5Y', 'HR23S3BURZPNU7DBHQA9GAYZY', '3N2JVBHZHRS8SS4WVVA2DN7LW', 'JAQ9AZB224ATD3UZ9YLR58USU']

# Base URL for VisualCrossingWeather API
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/'

# Load your dataset
df = pd.read_csv("national_parks_with_float_coors.csv")

new_df = pd.read_csv("weather__ed.csv")

In [88]:
#has lat_long but no weather!!
#print(df.head)
#df.columns
new_df.shape

(409, 17)

In [89]:
# Merge weather data into the full dataframe
df_merged = df.merge(
    new_df[['latitude','longitude', 'Incident Date', 'Weather']],  # Only include the necessary columns
    on=['longitude','latitude', 'Incident Date'],  # Specify the common identifier columns
    how='left'  # Keep all rows from the full dataframe
)

# Now `df_merged` has the weather column with existing data filled in.

In [90]:
df = df_merged

In [91]:
#function for going to the website:

base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/'

Now we try to get this thing to pull the rest of the results? I guess?

In [ ]:
import requests
import time
import pandas as pd

# Assuming you have defined your base_url and api_key previously
base_url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/'
api_key = '3N2JVBHZHRS8SS4WVVA2DN7LW' #fake email 1

def get_weather_data(location, date):
    url = f'{base_url}{location}/{date}?key={api_key}&contentType=csv'
    response = requests.get(url)
    
    if response.status_code == 200:
        # Extract the relevant data
        data = response.json()
        
        # Store the full weather data as a JSON string
        return data  # Return all data for now
    else:
        print(f"Error fetching data for {location} on {date}: {response.status_code}")
        return False  # Return None on error

# Loop through your DataFrame and fetch weather data
for i, row in df.iterrows():
    # Skip rows that already have weather data
    if pd.notna(row['Weather']):
        continue

    latitude = row['latitude']
    longitude = row['longitude']
    date = row['date']

    if (latitude is None) or (longitude is None):
        continue

    # Format location
    location = f"{latitude:.6f},{longitude:.6f}"
    
    # Request weather data
    weather_data = get_weather_data(location, date)
    
        

    if weather_data is not None:
        # Store the full JSON response in the 'Weather' column
        df.at[i, 'Weather'] = str(weather_data)  # Convert dict to string for storage
        
    else:
        break
        print("stopped bc it was bad")
    
    # Sleep to avoid hitting the API rate limit
    time.sleep(1)

# Save the updated dataset with relevant weather data
#df.to_csv('tester_yeah_with_weather.csv', index=False)

Error fetching data for 37.875670,-81.077598 on 2010-06-12: 429
Error fetching data for 48.617486,-113.760885 on 2010-06-18: 429

KeyboardInterrupt:

,Incident Date,Park Name,Cause of Death,Cause of Death Group \n(Used in the NPS Mortality Dashboard),Intent,Outcome,Sex,Age Range,Activity,temperature,precipitation,humidity,date,latlong,latitude,longitude,Weather
4774,6/28/2024,Valley Forge National Historical Park,Motor Vehicle Crash,Motor Vehicle Crash,Unintentional,Fatal Injury,Not Reported,65+,Driving,NaN,NaN,NaN,2024-06-28,"('40.1006378', '-75.44443767012535')",40.100638,-75.444438,NaN
4775,6/28/2024,Delaware Water Gap National Recreation Area,Motor Vehicle Crash,Motor Vehicle Crash,Unintentional,Fatal Injury,Male,65+,Driving,NaN,NaN,NaN,2024-06-28,"('41.1384391', '-74.91102148570056')",41.138439,-74.911021,NaN
4776,6/29/2024,Point Reyes National Seashore,Suicide,Suicide,Intentional,Fatal Injury,Not Reported,65+,Suicide,NaN,NaN,NaN,2024-06-29,"('38.07053155', '-122.91761219342156')",38.070532,-122.917612,NaN
4777,6/29/2024,Grand Canyon National Park,Undetermined,Undetermined,Undetermined,Fatal Injury,Male,45-54,Hiking,NaN,NaN,NaN,2024-06-29,"('36.307854750000004', '-112.29289603702432')",36.307855,-112.292896,NaN
4778,6/29/2024,Delaware Water Gap National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal Injury,Male,15-24,Swimming,NaN,NaN,NaN,2024-06-29,"('41.1384391', '-74.91102148570056')",41.138439,-74.911021,NaN

In [117]:
df_test['Weather'] = pd.Series([np.nan,np.nan,np.nan,np.nan,np.nan])

df_test

C:\Users\spenc\AppData\Local\Temp\ipykernel_24700\830519848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['Weather'] = pd.Series([np.nan,np.nan,np.nan,np.nan,np.nan])

,Incident Date,Park Name,Cause of Death,Cause of Death Group \n(Used in the NPS Mortality Dashboard),Intent,Outcome,Sex,Age Range,Activity,temperature,precipitation,humidity,date,latlong,latitude,longitude,Weather
4774,6/28/2024,Valley Forge National Historical Park,Motor Vehicle Crash,Motor Vehicle Crash,Unintentional,Fatal Injury,Not Reported,65+,Driving,NaN,NaN,NaN,2024-06-28,"('40.1006378', '-75.44443767012535')",40.100638,-75.444438,NaN
4775,6/28/2024,Delaware Water Gap National Recreation Area,Motor Vehicle Crash,Motor Vehicle Crash,Unintentional,Fatal Injury,Male,65+,Driving,NaN,NaN,NaN,2024-06-28,"('41.1384391', '-74.91102148570056')",41.138439,-74.911021,NaN
4776,6/29/2024,Point Reyes National Seashore,Suicide,Suicide,Intentional,Fatal Injury,Not Reported,65+,Suicide,NaN,NaN,NaN,2024-06-29,"('38.07053155', '-122.91761219342156')",38.070532,-122.917612,NaN
4777,6/29/2024,Grand Canyon National Park,Undetermined,Undetermined,Undetermined,Fatal Injury,Male,45-54,Hiking,NaN,NaN,NaN,2024-06-29,"('36.307854750000004', '-112.29289603702432')",36.307855,-112.292896,NaN
4778,6/29/2024,Delaware Water Gap National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal Injury,Male,15-24,Swimming,NaN,NaN,NaN,2024-06-29,"('41.1384391', '-74.91102148570056')",41.138439,-74.911021,NaN

In [122]:
df_money

  Park Name   latitude   longitude        date temp_max
0    Park A  37.658096 -111.093209  2024-11-19     None
1    Park B  40.712776  -74.005974  2024-11-19     None
2    Park C  34.052235 -118.243683  2024-11-19     None

In [ ]:
import requests


# Function to make API call for each location
def get_weather_data(location, date):
    api_key = 'YOUR_API_KEY'  # Replace with your actual API key
    url = f'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{location}/{date}?key={api_key}'
    
    # Make the API request
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()
        # For testing, let's just extract and return the temperature max
        weather_info = data.get('days', [{}])[0]  # Extract the first day's data
        temp_max = weather_info.get('tempmax', 'No data')
        return temp_max
    else:
        print(f"API call failed for {location} on {date} with status code {response.status_code}")
        return None

# Loop through the first 3 rows to request weather data
for index, row in df_money.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    date = row['date']
    
    if (latitude is None) or (longitude is None):
        continue
    
    # Format location with 6 decimal places
    location = f"{latitude:.6f},{longitude:.6f}"
    
    # Request weather data
    temp_max = get_weather_data(location, date)
    
    # Add the temp_max to the dataframe (or process as needed)
    df_money.loc[index, 'temp_max'] = temp_max

# Print the DataFrame with the results
print(df_money)

API call failed for 37.658096,-111.093209 on 2024-11-19 with status code 401
API call failed for 40.712776,-74.005974 on 2024-11-19 with status code 401
API call failed for 34.052235,-118.243683 on 2024-11-19 with status code 401
  Park Name   latitude   longitude        date temp_max
0    Park A  37.658096 -111.093209  2024-11-19     None
1    Park B  40.712776  -74.005974  2024-11-19     None
2    Park C  34.052235 -118.243683  2024-11-19     None

In [121]:
df_test

,Incident Date,Park Name,Cause of Death,Cause of Death Group \n(Used in the NPS Mortality Dashboard),Intent,Outcome,Sex,Age Range,Activity,temperature,precipitation,humidity,date,latlong,latitude,longitude,Weather
4774,6/28/2024,Valley Forge National Historical Park,Motor Vehicle Crash,Motor Vehicle Crash,Unintentional,Fatal Injury,Not Reported,65+,Driving,NaN,NaN,NaN,2024-06-28,"('40.1006378', '-75.44443767012535')",40.100638,-75.444438,False
4775,6/28/2024,Delaware Water Gap National Recreation Area,Motor Vehicle Crash,Motor Vehicle Crash,Unintentional,Fatal Injury,Male,65+,Driving,NaN,NaN,NaN,2024-06-28,"('41.1384391', '-74.91102148570056')",41.138439,-74.911021,False
4776,6/29/2024,Point Reyes National Seashore,Suicide,Suicide,Intentional,Fatal Injury,Not Reported,65+,Suicide,NaN,NaN,NaN,2024-06-29,"('38.07053155', '-122.91761219342156')",38.070532,-122.917612,False
4777,6/29/2024,Grand Canyon National Park,Undetermined,Undetermined,Undetermined,Fatal Injury,Male,45-54,Hiking,NaN,NaN,NaN,2024-06-29,"('36.307854750000004', '-112.29289603702432')",36.307855,-112.292896,False
4778,6/29/2024,Delaware Water Gap National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal Injury,Male,15-24,Swimming,NaN,NaN,NaN,2024-06-29,"('41.1384391', '-74.91102148570056')",41.138439,-74.911021,False

In [119]:
# Loop through your DataFrame and fetch weather data
df_test = df.tail()
for i, row in df_test.iterrows():
    # Skip rows that already have weather data
    if pd.notna(row['Weather']):
        continue

    latitude = row['latitude']
    longitude = row['longitude']
    date = row['date']

    if (latitude is None) or (longitude is None):
        continue

    # Format location
    location = f"{latitude:.6f},{longitude:.6f}"
    
    # Request weather data
    weather_data = get_weather_data(location, date)
    print(weather_data)
    
        

    if weather_data is not None:
        # Store the full JSON response in the 'Weather' column
        df_test.at[i, 'Weather'] = str(weather_data)  # Convert dict to string for storage
        
    else:
        break
        print("stopped bc it was bad")
    

# Save the updated dataset with relevant weather data
#df.to_csv('tester_yeah_with_weather.csv', index=False)
df_test.to_csv("whathappened")

Error fetching data for 40.100638,-75.444438 on 2024-06-28: 400
False
Error fetching data for 41.138439,-74.911021 on 2024-06-28: 400
False
Error fetching data for 38.070532,-122.917612 on 2024-06-29: 400
False
Error fetching data for 36.307855,-112.292896 on 2024-06-29: 400
False
Error fetching data for 41.138439,-74.911021 on 2024-06-29: 400
False

In [70]:
df_not_done = df[df['Weather'].isna()]
df_not_done.shape
df_done = df[~df['Weather'].isna()]
df_done.shape

(553, 17)

In [71]:
df_done.head()

,Incident Date,Park Name,Cause of Death,Cause of Death Group \n(Used in the NPS Mortality Dashboard),Intent,Outcome,Sex,Age Range,Activity,temperature,precipitation,humidity,date,latlong,latitude,longitude,Weather
0,1/1/2007,Glen Canyon National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal injury,Male,65+,Not Reported,NaN,NaN,NaN,2007-01-01,"('37.6580958', '-111.09320889669256')",37.658096,-111.093209,"{'datetime': '2007-01-01', 'datetimeEpoch': 11..."
1,1/22/2007,Golden Gate National Recreation Area,Drowning,Drowning,Unintentional,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."
2,1/22/2007,Golden Gate National Recreation Area,Drowning,Drowning,Unintentional,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."
3,1/22/2007,Golden Gate National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."
4,1/22/2007,Golden Gate National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."

In [ ]:
import json
# Updated function to handle improper JSON formatting
def expand_weather_column_with_fix(df, weather_column):
    def fix_json_format(json_string):
        try:
            # Replace single quotes with double quotes to fix JSON format
            fixed_string = json_string.replace("'", '"')
            return json.loads(fixed_string)
        except json.JSONDecodeError:
            return None  # Return None if parsing fails

    # Parse the Weather column with preprocessing
    weather_data = df[weather_column].dropna().apply(fix_json_format)
    
    # Remove rows where parsing failed
    weather_data = weather_data.dropna()
    
    # Create a new dataframe with separate columns for each key in the JSON
    expanded_df = pd.json_normalize(weather_data)
    
    # Merge the expanded columns back into the original dataframe
    df = pd.concat([df, expanded_df], axis=1)
    
    return df

# Apply the updated function to expand the 'Weather' column
df_expanded_fixed = expand_weather_column_with_fix(df_done, 'Weather')

,Incident Date,Park Name,Cause of Death,Cause of Death Group \n(Used in the NPS Mortality Dashboard),Intent,Outcome,Sex,Age Range,Activity,temperature,precipitation,humidity,date,latlong,latitude,longitude,Weather
0,1/1/2007,Glen Canyon National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal injury,Male,65+,Not Reported,NaN,NaN,NaN,2007-01-01,"('37.6580958', '-111.09320889669256')",37.658096,-111.093209,"{'datetime': '2007-01-01', 'datetimeEpoch': 11..."
1,1/22/2007,Golden Gate National Recreation Area,Drowning,Drowning,Unintentional,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."
2,1/22/2007,Golden Gate National Recreation Area,Drowning,Drowning,Unintentional,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."
3,1/22/2007,Golden Gate National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."
4,1/22/2007,Golden Gate National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."

In [40]:
df_done.head()

,Incident Date,Park Name,Cause of Death,Cause of Death Group \n(Used in the NPS Mortality Dashboard),Intent,Outcome,Sex,Age Range,Activity,temperature,precipitation,humidity,date,latlong,latitude,longitude,Weather
0,1/1/2007,Glen Canyon National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal injury,Male,65+,Not Reported,NaN,NaN,NaN,2007-01-01,"('37.6580958', '-111.09320889669256')",37.658096,-111.093209,"{'datetime': '2007-01-01', 'datetimeEpoch': 11..."
1,1/22/2007,Golden Gate National Recreation Area,Drowning,Drowning,Unintentional,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."
2,1/22/2007,Golden Gate National Recreation Area,Drowning,Drowning,Unintentional,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."
3,1/22/2007,Golden Gate National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."
4,1/22/2007,Golden Gate National Recreation Area,Undetermined,Undetermined,Undetermined,Fatal injury,Male,Not Reported,Vessel Related,NaN,NaN,NaN,2007-01-22,"('37.8499275', '-122.5177518')",37.849927,-122.517752,"{'datetime': '2007-01-22', 'datetimeEpoch': 11..."

In [ ]:
import pandas as pd
import json

# Function to clean and process the 'Weather' column
def process_weather_column(df, weather_column):
    def fix_and_parse_json(json_string):
        try:
            # Replace single quotes with double quotes
            #fixed_string = json_string.replace("'", '"')
            # Convert string to dictionary
            return json.loads(json_string)
        except json.JSONDecodeError:
            print("we faited to parse")
            return None  # Return None if parsing fails
    
    # Fix and parse the JSON column
    parsed_weather = df[weather_column].dropna().apply(fix_and_parse_json)
    
    # Drop rows where parsing failed
    parsed_weather = parsed_weather.dropna()
    
    # Expand JSON into separate columns
    weather_expanded = pd.json_normalize(parsed_weather)
    
    # Combine expanded columns with original dataframe
    df = df.drop(columns=[weather_column])  # Remove original Weather column
    df = pd.concat([df, weather_expanded], axis=1)
    
    return df


# Assuming 'Weather' is the column with JSON data
df_processed = process_weather_column(df_done, 'Weather')

# Save the processed dataframe to a new file
df_processed.to_csv('processed_weather_data.csv', index=False)

we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse
we faited to parse

In [49]:
df_done.tail(1).to_csv("differentformat.csv")

In [51]:
import pandas as pd
import json

# Load your dataframe
df_done = pd.read_csv('differentformat.csv')

# Define a function to parse the weather column
def parse_weather(weather_str):
    try:
        # Convert the string to a dictionary
        weather_dict = json.loads(weather_str.replace("'", '"'))  # Ensure valid JSON format
        return pd.Series({
            'temperature': weather_dict.get('temp'),
            'precipitation': weather_dict.get('precip'),
            'humidity': weather_dict.get('humidity'),
            'weather_description': weather_dict.get('conditions'),
        })
    except (json.JSONDecodeError, TypeError):
        # Return NaN for invalid or missing entries
        return pd.Series({'temperature': None, 'precipitation': None, 'humidity': None, 'weather_description': None})

# Apply the parsing function to the weather column
parsed_weather = df_done['Weather'].apply(parse_weather)

# Merge the parsed columns back into the original dataframe
df_done = pd.concat([df_done, parsed_weather], axis=1)

# Save the cleaned dataframe for review
df_done.to_csv('parsed_weather_data.csv', index=False)

print("Weather data has been parsed and saved as 'parsed_weather_data.csv'.")

Weather data has been parsed and saved as 'parsed_weather_data.csv'.

In [82]:
print(df_done.shape)

(553, 29)

In [ ]:
import pandas as pd
import json



# Define a function to parse the weather column
def parse_weather(weather_str):
    try:
        # Convert the string to a dictionary
        weather_dict = json.loads()  # Ensure valid JSON format

    except (json.JSONDecodeError, TypeError):
        
        # Return NaN for invalid or missing entries
        return pd.Series({'temperature': None, 'precipitation': None, 'humidity': None, 'weather_description': None})

# Apply the parsing function to the weather column
parsed_weather = df_done['Weather'].head(4).apply(parse_weather)

print(parsed_weather)

only this
only this
only this
only this
  temperature precipitation humidity weather_description
0        None          None     None                None
1        None          None     None                None
2        None          None     None                None
3        None          None     None                None